<div class="grid-container" [style.grid-template-columns]="'repeat(' + matrix().m.c + ', 1fr)'">
  <ng-container *ngFor="let row of matrix().g; let rowIndex = index">
    <div *ngFor="let cell of row; let colIndex = index"
         class="stitch-square"
         [class.mid-row]="rowIndex === midRow()"
         [class.mid-col]="colIndex === midCol()"
         [ngStyle]="getTileStyle(cell, rowIndex, colIndex)"
         (click)="onCellClick(rowIndex, colIndex)">
      {{ getSymbol(cell, rowIndex, colIndex) }}
    </div>
  </ng-container>
</div>